﻿/* 「後期高齢者医療広域連合電算処理システム」スタイルシート */
/* 作成日：2006/12/25 */

/*===================================================共通要素===================================================*/

/*------------------------------------------------link------------------------------------------------*/
/*リンク通常時*/
a:link {
	color: #0000FF;
	text-decoration: none;
}

/*リンク押下済*/
a:visited {
	color: #0000FF;
	text-decoration: none;
}

/*リンクホバー時*/
a:hover {
	color: #0000FF;
	text-decoration: none;
}

/*リンク押下時*/
a:active {
	color: #0000FF;
	text-decoration: none;
}

/*------------------------------------------------form------------------------------------------------*/
/*メニューボタン*/
input.menubtn {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	font-weight: bold;
	padding: 4px 3px;
	width: 180px;
	height: 35px;
	margin-left: 5px;
	cursor: hand;
}
/*検索ボタン*/
input.srchbtn {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	height: 23px;
	margin-left: 5px;
	cursor: hand;
}

/*テキストボックス*/
input.txt {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
}

/* テキストボックス（左寄せ）桁対応 */
input.txt-18 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	width: 110px;
	letter-spacing: -1px;
}
input.txt-17 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	width: 104px;
	letter-spacing: -1px;
}
input.txt-16 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	width: 98px;
	letter-spacing: -1px;
}
input.txt-15 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	width: 92px;
	letter-spacing: -1px;
}
input.txt-14 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	width: 86px;
	letter-spacing: -1px;
}
input.txt-13 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	width: 80px;
	letter-spacing: -1px;
}
input.txt-12 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	width: 74px;
	letter-spacing: -1px;
}
input.txt-11 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	width: 68px;
	letter-spacing: -1px;
}
input.txt-10 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	width: 62px;
	letter-spacing: -1px;
}
input.txt-9 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	width: 56px;
	letter-spacing: -1px;
}
input.txt-8 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	width: 50px;
	letter-spacing: -1px;
}
input.txt-7 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	width: 44px;
	letter-spacing: -1px;
}
input.txt-6 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	width: 38px;
	letter-spacing: -1px;
}
input.txt-5 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	width: 32px;
	letter-spacing: -1px;
}
input.txt-4 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	width: 26px;
	letter-spacing: -1px;
}
input.txt-3 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	width: 20px;
	letter-spacing: -1px;
}
input.txt-2 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	width: 12px;
	letter-spacing: -1px;
}
input.txt-1 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	width: 6px;
	letter-spacing: -1px;
}

/*テキストボックス(右寄せ)*/
input.txt-r {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
}

/* テキストボックス（右寄せ）桁対応 */
input.txt-r-18 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	width: 110px;
	letter-spacing: -1px;
}
input.txt-r-17 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	width: 104px;
	letter-spacing: -1px;
}
input.txt-r-16 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	width: 98px;
	letter-spacing: -1px;
}
input.txt-r-15 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	width: 92px;
	letter-spacing: -1px;
}
input.txt-r-14 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	width: 86px;
	letter-spacing: -1px;
}
input.txt-r-13 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	width: 80px;
	letter-spacing: -1px;
}
input.txt-r-12 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	width: 74px;
	letter-spacing: -1px;
}
input.txt-r-11 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	width: 68px;
	letter-spacing: -1px;
}
input.txt-r-10 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	width: 62px;
	letter-spacing: -1px;
}
input.txt-r-9 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	width: 56px;
	letter-spacing: -1px;
}
input.txt-r-8 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	width: 50px;
	letter-spacing: -1px;
}
input.txt-r-7 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	width: 44px;
	letter-spacing: -1px;
}
input.txt-r-6 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	width: 38px;
	letter-spacing: -1px;
}
input.txt-r-5 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	width: 32px;
	letter-spacing: -1px;
}
input.txt-r-4 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	width: 26px;
	letter-spacing: -1px;
}
input.txt-r-3 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	width: 20px;
	letter-spacing: -1px;
}
input.txt-r-2 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	width: 12px;
	letter-spacing: -1px;
}
input.txt-r-1 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	width: 6px;
	letter-spacing: -1px;
}


/*テキストボックス(入力不可)*/
input.txt-disabled {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	color: #FFFFFF;
	background-color: #DEDEDE;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
}

/*テキストボックス(入力不可左寄せ)桁対応*/
input.txt-disabled-18 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 110px;
	letter-spacing: -1px;
}
input.txt-disabled-17 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 104px;
	letter-spacing: -1px;
}
input.txt-disabled-16 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 98px;
	letter-spacing: -1px;
}
input.txt-disabled-15 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 92px;
	letter-spacing: -1px;
}
input.txt-disabled-14 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 86px;
	letter-spacing: -1px;
}
input.txt-disabled-13 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 80px;
	letter-spacing: -1px;
}
input.txt-disabled-12 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 74px;
	letter-spacing: -1px;
}
input.txt-disabled-11 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 68px;
	letter-spacing: -1px;
}
input.txt-disabled-10 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 62px;
	letter-spacing: -1px;
}
input.txt-disabled-9 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 56px;
	letter-spacing: -1px;
}
input.txt-disabled-8 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 50px;
	letter-spacing: -1px;
}
input.txt-disabled-7 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 44px;
	letter-spacing: -1px;
}
input.txt-disabled-6 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 38px;
	letter-spacing: -1px;
}
input.txt-disabled-5 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 32px;
	letter-spacing: -1px;
}
input.txt-disabled-4 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 26px;
	letter-spacing: -1px;
}
input.txt-disabled-3 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 20px;
	letter-spacing: -1px;
}
input.txt-disabled-2 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 12px;
	letter-spacing: -1px;
}
input.txt-disabled-1 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 6px;
	letter-spacing: -1px;
}

/*テキストボックス(入力不可右寄せ)*/
input.txt-disabled-r {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	color: #000000;
	text-align: right;
	background-color: #DEDEDE;
	margin: 0px 2px 0px 0px;
	border: 1px solid #6C8295;
}
/*テキストボックス(入力不可右寄せ)桁対応*/
input.txt-disabled-r-18 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 110px;
	letter-spacing: -1px;
}
input.txt-disabled-r-17 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 104px;
	letter-spacing: -1px;
}
input.txt-disabled-r-16 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 98px;
	letter-spacing: -1px;
}
input.txt-disabled-r-15 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 92px;
	letter-spacing: -1px;
}
input.txt-disabled-r-14 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 86px;
	letter-spacing: -1px;
}
input.txt-disabled-r-13 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 80px;
	letter-spacing: -1px;
}
input.txt-disabled-r-12 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 74px;
	letter-spacing: -1px;
}
input.txt-disabled-r-11 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 68px;
	letter-spacing: -1px;
}
input.txt-disabled-r-10 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 62px;
	letter-spacing: -1px;
}
input.txt-disabled-r-9 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 56px;
	letter-spacing: -1px;
}
input.txt-disabled-r-8 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 50px;
	letter-spacing: -1px;
}
input.txt-disabled-r-7 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 44px;
	letter-spacing: -1px;
}
input.txt-disabled-r-6 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 38px;
	letter-spacing: -1px;
}
input.txt-disabled-r-5 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 32px;
	letter-spacing: -1px;
}
input.txt-disabled-r-4 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 26px;
	letter-spacing: -1px;
}
input.txt-disabled-r-3 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 20px;
	letter-spacing: -1px;
}
input.txt-disabled-r-2 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 12px;
	letter-spacing: -1px;
}
input.txt-disabled-r-1 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border: 1px solid #6C8295;
	color: #000000;
	background-color: #DEDEDE;
	width: 6px;
	letter-spacing: -1px;
}

/*テキストボックス(右寄せ表示用)*/
input.txt-read-r {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px 2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
}

/*テキストボックス(左寄せ表示用)桁あわせ*/
input.txt-read-18 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 110px;
	letter-spacing: -1px;
}
input.txt-read-17 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 104px;
	letter-spacing: -1px;
}
input.txt-read-16 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 98px;
	letter-spacing: -1px;
}
input.txt-read-15 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 92px;
	letter-spacing: -1px;
}
input.txt-read-14 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 86px;
	letter-spacing: -1px;
}
input.txt-read-13 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 80px;
	letter-spacing: -1px;
}
input.txt-read-12 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 74px;
	letter-spacing: -1px;
}
input.txt-read-11 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 68px;
	letter-spacing: -1px;
}
input.txt-read-10 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 62px;
	letter-spacing: -1px;
}
input.txt-read-9 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 56px;
	letter-spacing: -1px;
}
input.txt-read-8 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 50px;
	letter-spacing: -1px;
}
input.txt-read-7 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 44px;
	letter-spacing: -1px;
}
input.txt-read-6 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 38px;
	letter-spacing: -1px;
}
input.txt-read-5 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 32px;
	letter-spacing: -1px;
}
input.txt-read-4 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 26px;
	letter-spacing: -1px;
}
input.txt-read-3 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 20px;
	letter-spacing: -1px;
}
input.txt-read-2 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 12px;
	letter-spacing: -1px;
}
input.txt-read-1 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	margin: 0px 2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 6px;
	letter-spacing: -1px;
}

/*テキストボックス(右寄せ表示用)桁あわせ*/
input.txt-read-r-18 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 110px;
	letter-spacing: -1px;
}
input.txt-read-r-17 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 104px;
	letter-spacing: -1px;
}
input.txt-read-r-16 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 98px;
	letter-spacing: -1px;
}
input.txt-read-r-15 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 92px;
	letter-spacing: -1px;
}
input.txt-read-r-14 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 86px;
	letter-spacing: -1px;
}
input.txt-read-r-13 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 80px;
	letter-spacing: -1px;
}
input.txt-read-r-12 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 74px;
	letter-spacing: -1px;
}
input.txt-read-r-11 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 68px;
	letter-spacing: -1px;
}
input.txt-read-r-10 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 62px;
	letter-spacing: -1px;
}
input.txt-read-r-9 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 56px;
	letter-spacing: -1px;
}
input.txt-read-r-8 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 50px;
	letter-spacing: -1px;
}
input.txt-read-r-7 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 44px;
	letter-spacing: -1px;
}
input.txt-read-r-6 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 38px;
	letter-spacing: -1px;
}
input.txt-read-r-5 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 32px;
	letter-spacing: -1px;
}
input.txt-read-r-4 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 26px;
	letter-spacing: -1px;
}
input.txt-read-r-3 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 20px;
	letter-spacing: -1px;
}
input.txt-read-r-2 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 12px;
	letter-spacing: -1px;
}
input.txt-read-r-1 {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	margin: 0px -2px 0px 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 6px;
	letter-spacing: -1px;
}


/*フォームボタン(テーブル内)*/
input.i-btn {
	font-family: "ＭＳ ゴシック";
	font-size: 9pt;
	background-color: #E9E9E9;
	margin-right: 2px;
	margin-left: 2px;
	padding-top: 1px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	border: 1px solid #333333;
	color: #333333;
	cursor: hand;
}

/*ファイル*/
input.file {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	margin: 0px;
	border: 1px solid #6C8295;
}

/*ラジオボタン*/
input.radio {
	
}

/*チェックボックス*/
input.check {
	
}

/*セレクトボックス*/
select.select {
	font-family: "ＭＳ ゴシック";
}

/*テキストエリア*/
textarea.txta {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	border: 1px solid #6C8295;
}

/*テキストエリア(入力不可)*/
textarea.txta-readonly {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	border: 1px solid #6C8295;
	background-color: #DEDEDE;
}

/*フォームタグ(margin:0指定)*/
form {
	margin: 0px;
	padding: 0px;
}

/*------------------------------------------------txt------------------------------------------------*/

/*注意文字(赤字)*/
span.txt-attention {
	font-family: "住基ネット明朝";
	color: #FF0000;
}

/*強調文字(太字)*/
span.txt-emphasis {
	font-family: "住基ネット明朝";
	font-weight: bold;
}

/*単位表記*/
span.txt-unit {
	font-size: 10pt;
	line-height: 120%;
}

/*改行不可*/
span.txt-nowrap {
	font-family: "住基ネット明朝";
	white-space: nowrap;
}

/*===================================================ブロック要素===================================================*/

/*------------------------------------------------ドキュメント全体【doc】------------------------------------------------*/

/*全体レイアウト*/
body#doc {
/*	background-color: #E0E9E0; */
	background-image: url(../images/bgimg_wp.png);
	margin: 0px;
	padding: 0px; 
	letter-spacing: -1px;  /* add 2007.02.21 IE7対応で追加 */
}

/*------------------------------------------------ヘッダ【head】------------------------------------------------*/
/*ヘッダレイアウト*/
/*div#head { */
/*	width: 100%; */
/*	background-image: url(../images/head_bg.png); */
/*	background-repeat: no-repeat; */
/*	margin: 0px; */
/*	padding: 0px; */
/*} */

/*ヘッダレイアウト（改善案）*/
div#head {
	width: 100%;
	background-image: url(../images/head_bg.png);
	background-repeat:repeat-x;
	margin: 0px;
	padding: 0px;
}

/*ログインユーザー*/
div#head div#user {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	background-repeat: no-repeat;
	position: absolute;
	left: 715px;
	top: 35px;
	text-indent: 18px;
	height: 18px;
	vertical-align: middle;
	padding-top: 3px;
	font-weight: bold;
}

/*システム名称*/
div#head div#title-system {
/*	height: 70px; */
	height: 45px;
/*	width: 400px; */
	width: 500px;
	font-family: "ＭＳ ゴシック";
	font-size: 15pt;
	font-weight: bold;
/*	padding-top: 4px; */
/*	padding-left: 4px; */
	padding-top: 10px;
	padding-left: 10px;
}



/*メッセージ*/
/*div#head div#message { */
/*	border: 0px; */
/*	font-family: "ＭＳ ゴシック"; */
/*	font-size: 10pt; */
/*	font-weight: bold; */
/*	color: #FF0000; */
/*	background-color: #FFFFFF; */
/*	height: 20px; */
/*	padding-left: 20px; */
/*	vertical-align: middle; */
/*	line-height: 20px; */
/*} */

/*メッセージ（改善案）*/
div#head div#message {
	border: 0px;
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	font-weight: bold;
	color: #E00000;
	background-color: #FFFFFF;
	height: 20px;
	padding-left: 20px;
/*	vertical-align: middle; */
	line-height: 20px;
}

/*ログアウト・メニュー・ヘルプボタンレイアウト*/
div#head div#btn {
	height: 23px;
/*	width: 80px;  delete 2007.02.21 IE7対応で削除 */
	position: absolute;
	top: 10px;
	white-space: nowrap;
	right: 20px;
}

/*ログアウト・メニュー・ヘルプボタン*/
/*(削除しました) */
/*div#head input.input-btn { */
/*	height: 23px; */
/*	width: 80px; */
/*	color: #555555; */
/*	background-image: url(../images/btn_head.png); */
/*	background-color: #FFCC00; */
/*	margin-left: 7px; */
/*	border: 1px solid #FFFFFF; */
/*	cursor: hand; */
/*} */

/*メニュー・ヘルプボタン（修正版）*/
div#head input.input-btn {
	height: 23px;
	width: 80px;
/*	color: #4C4C4C; */
	background-color: #F8D678;
	margin-left: 7px;
	border: 1px solid;
	cursor: hand;
	border-top-color: #FFFFCC;
	border-left-color: #FFFFCC;
	border-right-color: #B2801B;
	border-bottom-color: #B2801B;
/*	font-weight: bold;*/  /* 顧客指摘により強調　*/
}

/*ログアウトボタン（修正版）*/
div#head input.input-btn2 {
	height: 23px;
	width: 80px;
/*	color: #4C4C4C; */
	background-color: #FFB2B2;
	margin-left: 7px;
	border: 1px solid;
	cursor: hand;
	border-top-color: #FFF2F2;
	border-left-color: #FFF2F2;
	border-right-color: #CC6666;
	border-bottom-color: #CC6666;
/*	font-weight: bold; */ /* 顧客指摘により強調　*/

}

/*------------------------------------------------コンテンツタイトル【title】------------------------------------------------*/

/*コンテンツタイトルレイアウト*/
div#head div#title {
/*	margin-left: 20px; */
	margin-left: 0px;
/*	width: 96%; */
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 0px dotted;
	border-right: 0px dotted;
	border-bottom: 0px dotted;
	border-left: 0px dotted;
	padding-bottom: 0px;
	padding-left: 20px;
	height:34px;
	line-height: 34px;
	background-image: url(../images/bgimg_conttitle.png);
	background-repeat: repeat-x;
}

/*コンテンツタイトル*/
div#title h1 {
	font-size: 12pt;
	font-weight: bold;
	text-indent: 5px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	letter-spacing: 0px;  /* add 2007.02.21 IE7対応で追加 */
}

/*------------------------------------------------ページ内リンク【innerlink】------------------------------------------------*/
/*[非推奨]ページ内リンクレイアウト*/
div.innerlink {
	margin-left: 20px;
	width: 96%;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-bottom: 4px;
	font-size: 10pt;
}

/*------------------------------------------------ガイダンス【guide】------------------------------------------------*/

/*ガイダンスレイアウト*/
div.guide {
	width: 95%;
	margin-right: 0px;
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	clear: both;
}

/*ガイダンス*/
div.guide p {
	font-size: 10pt;
	line-height: 120%;
	float: left;

}

/*一覧テーブル時の件数表示※中見出しにも使用可能*/
span.number {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	float: right;
	color: #333333;
}

/*------------------------------------------------エラーメッセージ【error】------------------------------------------------*/

/*エラーメッセージレイアウト*/
div.error {
	width: 95%;
	margin-right: 0px;
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	clear: both;
}

/*エラーメッセージ*/
div.error p {
	font-size: 10pt;
	line-height: 120%;
	float: left;
	color: #FF0000;
}

/*インフォメーションメッセージレイアウト*/
div.information {
	width: 95%;
	margin-right: 0px;
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	clear: both;
}

/*インフォメーションメッセージ*/
div.information p {
	font-size: 10pt;
	line-height: 120%;
	float: left;
	color: #0000FF;
}

/*一覧テーブル時の件数表示※中見出しにも使用可能*/
span.number {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	float: right;
	color: #333333;
}

/*------------------------------------------------中見出し【caption】------------------------------------------------*/

div.caption {
/*	width: 95%; */
	width: 94%;
	margin-right: 0px;
	margin-left: 30px;
/*	text-indent: 20px; */
/* 菊田追記　元

	background-color: #9BB560;
*/
/* 菊田修正 */
	background-color: #5A9A4F;
/* 菊田修正　ここまで */
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
/*	background-repeat: no-repeat; */
	margin-top: 15px;
	margin-bottom: 5px;
	clear: both;
}

div.caption h2 {
	font-size: 10pt;
	font-weight: bold;
	float: left;
}

/*一覧テーブル時の件数表示※ガイダンスにも使用可能*/
/*span.number {*/
/*} */

/*------------------------------------------------単項目テーブル【tbl】------------------------------------------------*/

div.logintbl {
	width: 60%;  /* replace 2007.02.21 説明書とオンライン45%→60% */
	margin-top: 80px;
	margin-bottom: 5px;
}

/*テーブル*/
div.logintbl table.t-tbl {
	border-collapse: collapse;
	width: 100%;
	margin-right: 0px;
	margin-left: 210px;  /* replace 2007.02.21 説明書とオンラインは280px→210px */
	border-top-width: 4px;
	border-right-width: 0px;
	border-bottom-width: 4px;
	border-left-width: 0px;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}

/*見出し*/
div.logintbl th.t-cellsec {
/* 菊田追記　元

	background-color: #D4E78E;
*/
/* 菊田修正 */
	background-color: #C4E78E;
/* 菊田修正　ここまで */
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	background-repeat: repeat-y;
	padding: 3px 5px;
	width: 20%;
	border: 1px solid #FFFFFF;
	text-align: left;
	font-weight: normal;
}

/*追加見出し*/
div.logintbl th.t-cellsec-sub {
	background-color: #E7E7E7;
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	background-repeat: repeat-y;
	padding: 3px 5px;
	width: 10%;
	border: 1px solid #FFFFFF;
	text-align: left;
	font-weight: normal;
}

/*上部見出し*/
div.logintbl th.t-cellsec-col {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #FFFFFF;
/* 菊田追記　元

	background-color: #9BB560;
*/
/* 菊田修正 */
	background-color: #5A9A4F;
/* 菊田修正　ここまで */
	background-repeat: repeat-x;

}

/*セル（奇数行）*/
div.logintbl td.t-cell-odd {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border: 1px solid #FFFFFF;
	background-color: #EBEBEB;
}

/*セル（偶数行）*/
div.logintbl td.t-cell-even {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
}

/*エラー(セル)*/
div.logintbl td.t-cell-error {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border: 1px solid #FFFFFF;
	background-color: #F2B4AA;
}

/*メッセージ*/
div.logintbl th.t-message {
/* 菊田追記　元

	background-color: #D4E78E;
*/
/* 菊田修正 */
	background-color: #C4E78E;
/* 菊田修正　ここまで */
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	background-repeat: repeat-y;
	padding: 3px 5px;
	width: 20%;
	border: 1px solid #FFFFFF;
	text-align: center;
	font-weight: normal;
}

div.tbl {
/*	width: 95%;  delete 2007.02.21 IE7対応で削除 */
	margin-top: 5px;
	margin-bottom: 5px;
	height: 430px;      /* add 2007.02.21 説明書とオンラインにはなかった */
	overflow-y: auto;   /* add 2007.02.21 説明書とオンラインにはなかった */
	margin-left: 30px;  /* add 2007.02.21 IE7対応で追加 */
}

div.tbl div.t-tbl {         /* add 2007.02.21 説明書とオンラインにはなかった */
	height: 400px;     /* add 2007.02.21 説明書とオンラインにはなかった */
	overflow-y: auto;  /* add 2007.02.21 説明書とオンラインにはなかった */
}                          /* add 2007.02.21 説明書とオンラインにはなかった */

/*テーブル*/
div.tbl table.t-tbl {
	border-collapse: collapse;
	width: 98%;        /* replace 2007.02.21 IE7対応で修正 100%→98% */
	margin-right: 0px;
	margin-left: 0px;  /* replace 2007.02.21 IE7対応で修正 30px→0px */
	border-top-width: 4px;
	border-right-width: 0px;
	border-bottom-width: 4px;
	border-left-width: 0px;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}

/*見出し*/
div.tbl th.t-cellsec {
/* 菊田追記　元

	background-color: #D4E78E;
*/
/* 菊田修正 */
	background-color: #C4E78E;
/* 菊田修正　ここまで */
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	background-repeat: repeat-y;
	padding: 3px 5px;
	width: 20%;
	border: 1px solid #FFFFFF;
	text-align: left;
	font-weight: normal;
}

/*追加見出し*/
div.tbl th.t-cellsec-sub {
	background-color: #E7E7E7;
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	background-repeat: repeat-y;
	padding: 3px 5px;
	width: 10%;
	border: 1px solid #FFFFFF;
	text-align: left;
	font-weight: normal;
}

/*上部見出し*/
div.tbl th.t-cellsec-col {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #FFFFFF;
/* 菊田追記　元

	background-color: #9BB560;
*/
/* 菊田修正 */
	background-color: #5A9A4F;
/* 菊田修正　ここまで */
	background-repeat: repeat-x;

}

/*セル（奇数行）*/
div.tbl td.t-cell-odd {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border: 1px solid #FFFFFF;
	background-color: #EBEBEB;
}

/*セル（偶数行）*/
div.tbl td.t-cell-even {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
}

/*エラー(セル)*/
div.tbl td.t-cell-error {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border: 1px solid #FFFFFF;
	background-color: #F2B4AA;
}

/*[非推奨]幅固定セル*/
div.tbl td.t-cell-s {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border: 1px solid #FFFFFF;
	width: 8%;
}

/*[非推奨]先頭戻り*/
div.tbl div.goto {
	text-align: right;
	width: 100%;
	margin-right: 0px;
	margin-left: 30px;
	margin-top: 4px;
	font-size: 10pt;
}

/*------------------------------------------------一覧テーブル【list】------------------------------------------------*/
div.list {
/*	width: 95%;  delete 2007.02.21 IE7対応で削除 */
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 30px;  /* add 2007.02.21 IE7対応で追加 */
}

/*テーブル 表示高定義*/
/*パターン１ height:430*/
/*画面レイアウトパターンにより、高さ精度を精査する必要あり。*/
div.list div.l-tbl-01 {
	height: 430px;
	overflow-y: auto;
/*	scrollbar-3dlight-color: #DCA73C;     replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-arrow-color: #323278;       replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-darkshadow-color: #55372F;  replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-face-color:#FFD778;         replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-highlight-color: #FFFFFF;   replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-shadow-color: #E8B66E;      replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-track-color: #FFF4AA;       replace 2007.02.21 オンライン用は有効だった */
}

/*パターン２ height:400*/
div.list div.l-tbl-02 {
	height: 400px;
	overflow-y: auto;
}

/*パターン３ height:350*/
div.list div.l-tbl-03 {
	height: 350px;
	overflow-y: auto;
}

/*パターン４ height:300*/  /* replace 2007.02.21 オンライン修正 260px→300px */
div.list div.l-tbl-04 {
	height: 300px;     /* replace 2007.02.21 オンライン修正 270px→300px */
	overflow-y: auto;
}

/*パターン５ height:250*/
div.list div.l-tbl-05 {
	height: 250px;     /* replace 2007.02.21 オンライン修正 230px→250px */
	overflow-y: auto;
}

/*テーブル*/
div.list table.l-tbl {
	border-collapse: collapse;
	width: 98%;        /* replace 2007.02.21 IE7対応で修正 100%→98% */
	margin-right: 0px;
	margin-left: 0px;  /* replace 2007.02.21 IE7対応で修正 30px→0px */
	border-top-width: 4px;
	border-right-width: 0px;
	border-bottom-width: 4px;
	border-left-width: 0px;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}

/*見出し*/
/*div.list th.l-cellsec { */
/*	font-family: "ＭＳ ゴシック"; */
/*	font-size: 10pt; */
/*	font-weight: bold; */
/*	text-align: left; */
/*	color: #FFFFFF; */
/*	padding-top: 3px; */
/*	padding-right: 6px; */
/*	padding-bottom: 3px; */
/*	padding-left: 6px; */
/*	border: 1px solid #FFFFFF; */
/*	background-color: #9BB560; */
/*	background-repeat: repeat-x; */
/*} */

/*見出し（修正版）*/
div.list th.l-cellsec {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	text-align: left;
	font-weight:normal;
	color: #000000;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #778C46;
/* 菊田修正　元

	background-color: #B4CC7A;
*/
/* 菊田修正　*/
	background-color: #90D67F;
/* 菊田修正　ここまで */
}

/*見出し（修正版）(高さ20px)*/
div.list th.l-cellsec-20px {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	text-align: left;
	font-weight:normal;
	color: #000000;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #778C46;
	background-color: #90D67F;
	height: 20px;
}

/*奇数行*/
/*div.list td.l-cellodd { */
/*	font-family: "ＭＳ ゴシック"; */
/*	font-size: 10pt; */
/*	text-align: left; */
/*	padding-top: 3px; */
/*	padding-right: 6px; */
/*	padding-bottom: 3px; */
/*	padding-left: 6px; */
/*	border: 1px solid #FFFFFF; */
/*	background-color: #EBEBEB; */
/*} */


/*奇数行（改善案）*/
div.list td.l-cellodd {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: left;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #778C46;
	background-color: #EBEBEB;
	height: 20px;
}

/*偶数行*/
/*div.list td.l-celleven { */
/*	font-family: "ＭＳ ゴシック"; */
/*	font-size: 10pt; */
/*	text-align: left; */
/*	padding-top: 3px; */
/*	padding-right: 6px; */
/*	padding-bottom: 3px; */
/*	padding-left: 6px; */
/*	border: 1px solid #FFFFFF; */
/*	background-color: #FFFFFF; */
/*} */

/*偶数行（改善案）*/
div.list td.l-celleven {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: left;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #778C46;
	background-color: #FFFFFF;
	height: 20px;
}

/*奇数行右寄せ※数値データ表示時*/
/*div.list td.l-celloddr { */
/*	font-family: "ＭＳ ゴシック"; */
/*	font-size: 10pt; */
/*	text-align: right; */
/*	padding-top: 3px; */
/*	padding-right: 6px; */
/*	padding-bottom: 3px; */
/*	padding-left: 6px; */
/*	border: 1px solid #FFFFFF; */
/*	background-color: #EBEBEB; */
/*} */

/*奇数行右寄せ※数値データ表示時（改善案）*/
div.list td.l-celloddr {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #778C46;
	background-color: #EBEBEB;
	height: 20px;
}

/*偶数行右寄せ※数値データ表示時*/
/*div.list td.l-cellevenr { */
/*	font-family: "ＭＳ ゴシック"; */
/*	font-size: 10pt; */
/*	text-align: right; */
/*	padding-top: 3px; */
/*	padding-right: 6px; */
/*	padding-bottom: 3px; */
/*	padding-left: 6px; */
/*	border: 1px solid #FFFFFF; */
/*	background-color: #FFFFFF; */
/*} */

/*偶数行右寄せ※数値データ表示時（改善案）*/
div.list td.l-cellevenr {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #778C46;
	background-color: #FFFFFF;
	height: 20px;
}

/*奇数行折り返し不可*/
div.list td.l-cellodd-nw {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: left;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #FFFFFF;
	background-color: #EBEBEB;
	white-space: nowrap;
	height: 20px;
}

/*偶数行折り返し不可*/
div.list td.l-celleven-nw {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: left;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	white-space: nowrap;
	height: 20px;
}

/*奇数行右寄せ折り返し不可※数値データ表示時*/
div.list td.l-celloddr-nw {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #FFFFFF;
	background-color: #EBEBEB;
	white-space: nowrap;
	height: 20px;
}

/*偶数行右寄せ折り返し不可※数値データ表示時*/
div.list td.l-cellevenr-nw {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	white-space: nowrap;
	height: 20px;
}

/*ページ送り*/
div.list div.goto {
	text-align: right;
	width: 100%;
	margin-right: 0px;
	margin-left: 30px;
	margin-top: 4px;
	font-size: 10pt;
}

/*------------------------------------------------一覧テーブル【list1】------------------------------------------------*/
div.list1 {
/*	width: 95%;            delete 2007.02.21 IE7対応で削除 */
	overflow-y: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 30px;  /* add 2007.02.21 IE7対応で追加 */
}

/*テーブル 表示高定義*/
/*パターン１ height:430*/
/*画面レイアウトパターンにより、高さ精度を精査する必要あり。*/
div.list1 div.l-tbl-11 {
	height: 430px;
	overflow-y: auto;
/*	scrollbar-3dlight-color: #DCA73C;     replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-arrow-color: #323278;       replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-darkshadow-color: #55372F;  replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-face-color:#FFD778;         replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-highlight-color: #FFFFFF;   replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-shadow-color: #E8B66E;      replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-track-color: #FFF4AA;       replace 2007.02.21 オンライン用は有効だった */
}

/*パターン２ height:400*/
div.list1 div.l-tbl-12 {
	height: 400px;
	overflow-y: auto;
/*	scrollbar-3dlight-color: #DCA73C;     replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-arrow-color: #323278;       replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-darkshadow-color: #55372F;  replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-face-color:#FFD778;         replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-highlight-color: #FFFFFF;   replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-shadow-color: #E8B66E;      replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-track-color: #FFF4AA;       replace 2007.02.21 オンライン用は有効だった */
}

/*パターン３ height:350*/
div.list1 div.l-tbl-13 {
	height: 350px;
	overflow-y: auto;
/*	scrollbar-3dlight-color: #DCA73C;     replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-arrow-color: #323278;       replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-darkshadow-color: #55372F;  replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-face-color:#FFD778;         replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-highlight-color: #FFFFFF;   replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-shadow-color: #E8B66E;      replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-track-color: #FFF4AA;       replace 2007.02.21 オンライン用は有効だった */
}

/*パターン４ height:300*/
div.list1 div.l-tbl-14 {
	height: 300px;
	overflow-y: auto;
/*	scrollbar-3dlight-color: #DCA73C;     replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-arrow-color: #323278;       replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-darkshadow-color: #55372F;  replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-face-color:#FFD778;         replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-highlight-color: #FFFFFF;   replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-shadow-color: #E8B66E;      replace 2007.02.21 オンライン用は有効だった */
/*	scrollbar-track-color: #FFF4AA;       replace 2007.02.21 オンライン用は有効だった */
}

/*パターン５ height:250*/
div.list1 div.l-tbl-15 {
	height: 250px;
	overflow-y: auto;
/*	scrollbar-3dlight-color: #DCA73C; */
/*	scrollbar-arrow-color: #323278; */
/*	scrollbar-darkshadow-color: #55372F; */
/*	scrollbar-face-color:#FFD778; */
/*	scrollbar-highlight-color: #FFFFFF; */
/*	scrollbar-shadow-color: #E8B66E; */
/*	scrollbar-track-color: #FFF4AA; */
}

/*パターン６ height:100*/
div.list1 div.l-tbl-16 {
	height: 100px;
	overflow-y: auto;
/*	scrollbar-3dlight-color: #DCA73C; */
/*	scrollbar-arrow-color: #323278; */
/*	scrollbar-darkshadow-color: #55372F; */
/*	scrollbar-face-color:#FFD778; */
/*	scrollbar-highlight-color: #FFFFFF; */
/*	scrollbar-shadow-color: #E8B66E; */
/*	scrollbar-track-color: #FFF4AA; */
}
/*パターン７ height:240*/
div.list1 div.l-tbl-17 {
	height: 240px;
	overflow-y: auto;
}
/*パターン８ height:180*/
div.list1 div.l-tbl-18 {
	height: 180px;
	overflow-y: auto;
}
/*パターン９ height:170*/
div.list1 div.l-tbl-19 {
	height: 170px;
	overflow-y: auto;
}
/*パターン１０ height:120*/
div.list1 div.l-tbl-20 {
	height: 120px;
	overflow-y: auto;
}
/*パターン１１ height:90*/
div.list1 div.l-tbl-21 {
	height: 90px;
	overflow-y: auto;
}
/*パターン１２ height:80*/
div.list1 div.l-tbl-22 {
	height: 80px;
	overflow-y: auto;
}
/*パターン１３ height:70*/
div.list1 div.l-tbl-23 {
	height: 70px;
	overflow-y: auto;
}

/*テーブル*/
div.list1 table.l-tbl1 {
	border-collapse: collapse;
	width: 98%;        /* replace 2007.02.21 IE7対応で修正 100%→98% */
	margin-right: 0px;
	margin-left: 0px;  /* replace 2007.02.21 IE7対応で修正 30px→0px*/
	border-top-width: 4px;
	border-right-width: 0px;
	border-bottom-width: 4px;
	border-left-width: 0px;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}

/*見出し*/
div.list1 th.l-cellsec {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #FFFFFF;
/* 菊田追記　元

	background-color: #9BB560;
*/
/* 菊田修正 */
	background-color: #5A9A4F;
/* 菊田修正　ここまで */
	background-repeat: repeat-x;
}

/*奇数行*/
/*div.list1 td.l-cellodd { */
/*	font-family: "ＭＳ ゴシック"; */
/*	font-size: 10pt; */
/*	text-align: left; */
/*	padding-top: 3px; */
/*	padding-right: 6px; */
/*	padding-bottom: 3px; */
/*	padding-left: 6px; */
/*	border: 1px solid #FFFFFF; */
/*	background-color: #EBEBEB; */
/*} */


/*奇数行（改善案）*/
div.list1 td.l-cellodd {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: left;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #FFFFFF;
	background-color: #EBEBEB;
	height: 20px;
}

/*偶数行*/
/*div.list1 td.l-celleven { */
/*	font-family: "ＭＳ ゴシック"; */
/*	font-size: 10pt; */
/*	text-align: left; */
/*	padding-top: 3px; */
/*	padding-right: 6px; */
/*	padding-bottom: 3px; */
/*	padding-left: 6px; */
/*	border: 1px solid #FFFFFF; */
/*	background-color: #FFFFFF; */
/*} */

/*偶数行（改善案）*/
div.list1 td.l-celleven {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: left;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	height: 20px;
}

/*奇数行右寄せ※数値データ表示時*/
/*div.list1 td.l-celloddr { */
/*	font-family: "ＭＳ ゴシック"; */
/*	font-size: 10pt; */
/*	text-align: right; */
/*	padding-top: 3px; */
/*	padding-right: 6px; */
/*	padding-bottom: 3px; */
/*	padding-left: 6px; */
/*	border: 1px solid #FFFFFF; */
/*	background-color: #EBEBEB; */
/*} */

/*奇数行右寄せ※数値データ表示時（改善案）*/
div.list1 td.l-celloddr {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #FFFFFF;
	background-color: #EBEBEB;
	height: 20px;
}

/*偶数行右寄せ※数値データ表示時*/
/*div.list1 td.l-cellevenr { */
/*	font-family: "ＭＳ ゴシック"; */
/*	font-size: 10pt; */
/*	text-align: right; */
/*	padding-top: 3px; */
/*	padding-right: 6px; */
/*	padding-bottom: 3px; */
/*	padding-left: 6px; */
/*	border: 1px solid #FFFFFF; */
/*	background-color: #FFFFFF; */
/*} */

/*偶数行右寄せ※数値データ表示時（改善案）*/
div.list1 td.l-cellevenr {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	height: 20px;
}

/*奇数行折り返し不可*/
div.list1 td.l-cellodd-nw {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: left;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #FFFFFF;
	background-color: #EBEBEB;
	white-space: nowrap;
	height: 20px;
}

/*偶数行折り返し不可*/
div.list1 td.l-celleven-nw {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: left;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	white-space: nowrap;
	height: 20px;
}

/*奇数行右寄せ折り返し不可※数値データ表示時*/
div.list1 td.l-celloddr-nw {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #FFFFFF;
	background-color: #EBEBEB;
	white-space: nowrap;
	height: 20px;
}

/*偶数行右寄せ折り返し不可※数値データ表示時*/
div.list1 td.l-cellevenr-nw {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	white-space: nowrap;
	height: 20px;
}

/*セル（エラー）*/
div.list1 td.l-cell-error {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border: 1px solid #FFFFFF;
	background-color: #F2B4AA;
}

/*セル（エラー）右寄せ*/
div.list1 td.l-cellr-error {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: right;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border: 1px solid #FFFFFF;
	background-color:
	#F2B4AA;
}


/*上部見出し*/
div.list1 th.t-cellsec-col {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #FFFFFF;
/* 菊田追記　元

	background-color: #9BB560;
*/
/* 菊田修正 */
	background-color: #5A9A4F;
/* 菊田修正　ここまで */
	background-repeat: repeat-x;

}

/*見出し*/
div.list1 th.t-cellsec {
/* 菊田追記　元

	background-color: #D4E78E;
*/
/* 菊田修正 */
	background-color: #C4E78E;
/* 菊田修正　ここまで */
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	background-repeat: repeat-y;
	padding: 3px 5px;
/*	width: 20%;                          2007.3.2 削除   */
	border: 1px solid #FFFFFF;
	text-align: left;
	font-weight: normal;
}

/*追加見出し*/
div.list1 th.t-cellsec-sub {
	background-color: #E7E7E7;
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	background-repeat: repeat-y;
	padding: 3px 5px;
	width: 10%;
	border: 1px solid #FFFFFF;
	text-align: left;
	font-weight: normal;
}
/*追加見出し(高さ20px)*/
div.list1 th.t-cellsec-20px {
	background-color: #C4E78E;
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	background-repeat: repeat-y;
	padding: 3px 5px;
	border: 1px solid #FFFFFF;
	text-align: left;
	font-weight: normal;
	height: 20px;
}
/*------------------------------------------------マトリクステーブル【matrix】------------------------------------------------*/

div.matrix {
	width: 95%;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*テーブル*/
div.matrix table.m-tbl {
	border-collapse: collapse;
	width: 100%;
	margin-right: 0px;
	margin-left: 30px;
	border-top-width: 4px;
	border-right-width: 0px;
	border-bottom-width: 4px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #00AD7D;
	border-right-color: #00AD7D;
	border-bottom-color: #00AD7D;
	border-left-color: #00AD7D;
}

/*上部見出し*/
div.matrix th.m-cellsec-col {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #CCCCCC;
	background-color: #E7E7E7;
	background-repeat: repeat-x;
}

/*左部見出し*/
div.matrix th.m-cellsec-row {
	background-color: #E7E7E7;
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	padding: 3px 5px;
	border: 1px solid #CCCCCC;
	text-align: left;
	font-weight: normal;
}

/*奇数行*/
div.matrix td.m-cellodd {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}

/*偶数行*/
div.matrix td.m-celleven {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border: 1px solid #CCCCCC;
	background-color: #E6F0EF;
}

/*奇数行右寄せ※数値データ表示時*/
div.matrix td.m-celloddr {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	text-align: right;
}

/*偶数行右寄せ※数値データ表示時*/
div.matrix td.m-cellevenr {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border: 1px solid #CCCCCC;
	background-color: #E6F0EF;
	text-align: right;
}

/*------------------------------------------------サブボタン【subbtn】------------------------------------------------*/

div.subbtn {
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 30px;
	text-align: right;
}

div.subbtn input.m-srchbtn {
	font-family: "ＭＳ ゴシック";
	font-size: 11pt;
	font-weight: bold;
	padding: 4px 3px;
	width: 108px;
	margin-left: 5px;
	cursor: hand;
}

div.subbtn input.s-btn {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	font-weight: bold;            /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
	width: 108px;
	border: 1px solid #333333;
/*	background-image: url(../images/subbtn_bg.png); */
	background-repeat: repeat-x;  /* add 2007.02.21 オンラインだけコメントだった */
	cursor: hand;
	padding: 3px;                 /* replace 2007.02.21 説明書とサーバ間連携とIE7対応版は 3px→4px 3px */
	margin-left: 5px;
	color: #4C4C4C;               /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
}

div.sub2btn {                /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
	top: 560px;          /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
	left: 11px;          /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
	height: 40px;        /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
	width: 100%;         /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
	margin-right: 30px;  /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
	text-align: right;   /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
	position: absolute;  /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
}                            /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */

div.sub2btn input.s2-btn {                                  /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
	font-family: "ＭＳ ゴシック";                       /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
	font-size: 11pt;                                    /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
	font-weight: bold;                                  /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
/*	background-image: url(../images/btn_main.png); */   /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
/*	background-repeat: repeat-x; */                     /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
	padding: 4px 3px;                                   /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
	width: 128px;                                       /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
	margin-left: 5px;                                   /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
	cursor: hand;                                       /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
	color: #555555;                                     /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */
}                                                           /* add 2007.02.21 説明書とサーバ間連携とIE7対応版にはなかった */

/*------------------------------------------------ログイン画面・共通画面ボタン【loginbtn】------------------------------------------------*/  /* add 2007.02.21 説明書とIE7対応版とオンラインにはなかった */

div.loginbtn {               /* add 2007.02.21 説明書とIE7対応版にはなかった */
	top: 350px;          /* add 2007.02.21 説明書とIE7対応版にはなかった */
	left: 11px;          /* add 2007.02.21 説明書とIE7対応版にはなかった */
	height: 40px;        /* add 2007.02.21 説明書とIE7対応版にはなかった */
	width: 100%;         /* add 2007.02.21 説明書とIE7対応版にはなかった */
	margin-right: 30px;  /* add 2007.02.21 説明書とIE7対応版にはなかった */
	text-align: center;  /* add 2007.02.21 説明書とIE7対応版にはなかった */
	position: absolute;  /* add 2007.02.21 説明書とIE7対応版にはなかった */
}                            /* add 2007.02.21 説明書とIE7対応版にはなかった */

div.loginbtn input.m-btn {                                 /* add 2007.02.21 説明書とIE7対応版にはなかった */
	font-family: "ＭＳ ゴシック";                      /* add 2007.02.21 説明書とIE7対応版にはなかった */
	font-size: 11pt;                                   /* add 2007.02.21 説明書とIE7対応版にはなかった */
	font-weight: bold;                                 /* add 2007.02.21 説明書とIE7対応版にはなかった */
/*	background-image: url(../images/btn_main.png); */  /* add 2007.02.21 説明書とIE7対応版にはなかった */
/*	background-repeat: repeat-x; */                    /* add 2007.02.21 説明書とIE7対応版にはなかった，サーバ間連携は有効だった */
	padding: 4px 3px;                                  /* add 2007.02.21 説明書とIE7対応版にはなかった */
	width: 128px;                                      /* add 2007.02.21 説明書とIE7対応版にはなかった */
	margin-left: 5px;                                  /* add 2007.02.21 説明書とIE7対応版にはなかった */
	cursor: hand;                                      /* add 2007.02.21 説明書とIE7対応版にはなかった */
/*	color: #555555;     */                               /* add 2007.02.21 説明書とIE7対応版にはなかった */
}                                                          /* add 2007.02.21 説明書とIE7対応版にはなかった */

div.messagebtn {             /* add 2007.02.21 説明書とIE7対応版にはなかった */
	top: 500px;          /* add 2007.02.21 説明書とIE7対応版にはなかった */
	left: 11px;          /* add 2007.02.21 説明書とIE7対応版にはなかった */
	height: 40px;        /* add 2007.02.21 説明書とIE7対応版にはなかった */
	width: 100%;         /* add 2007.02.21 説明書とIE7対応版にはなかった */
	margin-right: 30px;  /* add 2007.02.21 説明書とIE7対応版にはなかった */
	text-align: center;  /* add 2007.02.21 説明書とIE7対応版にはなかった */
	position: absolute;  /* add 2007.02.21 説明書とIE7対応版にはなかった */
}                            /* add 2007.02.21 説明書とIE7対応版にはなかった */

div.messagebtn input.m-btn {                               /* add 2007.02.21 説明書とIE7対応版にはなかった */
	font-family: "ＭＳ ゴシック";                      /* add 2007.02.21 説明書とIE7対応版にはなかった */
	font-size: 11pt;                                   /* add 2007.02.21 説明書とIE7対応版にはなかった */
	font-weight: bold;                                 /* add 2007.02.21 説明書とIE7対応版にはなかった */
/*	background-image: url(../images/btn_main.png); */  /* add 2007.02.21 説明書とIE7対応版にはなかった，サーバ間連携は有効だった */
/*	background-repeat: repeat-x; */                    /* add 2007.02.21 説明書とIE7対応版にはなかった */
	padding: 4px 3px;                                  /* add 2007.02.21 説明書とIE7対応版にはなかった */
	width: 128px;                                      /* add 2007.02.21 説明書とIE7対応版にはなかった */
	margin-left: 5px;                                  /* add 2007.02.21 説明書とIE7対応版にはなかった */
	cursor: hand;                                      /* add 2007.02.21 説明書とIE7対応版にはなかった */
/*	color: #555555; */                                   /* add 2007.02.21 説明書とIE7対応版にはなかった */
}                                                          /* add 2007.02.21 説明書とIE7対応版にはなかった */

/*------------------------------------------------メインボタン【mainbtn】------------------------------------------------*/

div.mainbtn {
	top: 640px;
	left: 11px;
	height: 40px;
	width: 100%;
	margin-right: 30px;
	text-align: right;
	position: absolute;
}

/*div.mainbtn input.m-btn { */
/*	font-family: "ＭＳ ゴシック"; */
/*	font-size: 11pt; */
/*	font-weight: bold; */
/*	background-image: url(../images/btn_main.png); */
/*	background-repeat: repeat-x; */
/*	padding: 4px 3px; */
/*	width: 128px; */
/*	margin-left: 5px; */
/*	cursor: hand; */
/*	color: #555555; */
/*} */

/*div.mainbtn m-btnの（改善案）*/
div.mainbtn input.m-btn {
	font-family: "ＭＳ ゴシック";
	font-size: 11pt;
	font-weight: bold;
/*	background-image: url(../images/btn_main.png); */
/*	background-repeat: repeat-x; */
	padding: 4px 3px;
	width: 128px;
	margin-left: 5px;
	cursor: hand;
/*	color: #4C4C4C;*/
}

div.pagebtn {
	top: 640px;
	left: 11px;
	height: 40px;
	width: 100%;
	margin-right: 30px;
	text-align: left;
	position: absolute;
}


/*div.pagebtn input.m-btn { */
/*	font-family: "ＭＳ ゴシック"; */
/*	font-size: 11pt; */
/*	font-weight: bold; */
/*	background-image: url(../images/btn_main.png); */
/*	background-repeat: repeat-x; */
/*	padding: 4px 3px; */
/*	width: 128px; */
/*	margin-left: 5px; */
/*	cursor: hand; */
/*	color: #555555; */
/*} */

/*pagebtn m-btnの（改善案）*/
div.pagebtn input.m-btn {
	font-family: "ＭＳ ゴシック";
	font-size: 11pt;
	font-weight: bold;
/*	background-image: url(../images/btn_main.png); */
/*	background-repeat: repeat-x; */
	padding: 4px 3px;
	width: 128px;
	margin-left: 5px;
	cursor: hand;
/*	color: #4C4C4C; */
}
div.pagebtn2 {
	top: 600px;
	left: 11px;
	height: 40px;
	width: 400px;
	margin-right: 30px;
	text-align: left;
	position: absolute;
}
/*pagebtn2 m-btnの（改善案）*/
div.pagebtn2 input.m-btn {
	font-family: "ＭＳ ゴシック";
	font-size: 11pt;
	font-weight: bold;
	padding: 4px 3px;
	width: 128px;
	margin-left: 5px;
	cursor: hand;
}
/*[非推奨]メインボタン(大：12文字まで)*/
div.mainbtn input.m-btn-l {
	font-family: "ＭＳ ゴシック";
	font-size: 11pt;
	font-weight: bold;
/*	background-image: url(../images/mainbtn_bg.png); */
	background-repeat: repeat-x;
	padding: 4px 3px;
	color: #FFFFFF;
	width: 214px;
	margin-left: 5px;
	cursor: hand;
	border: 1px double #000000;
}

/*[非推奨]メインボタン(特大：16文字まで)*/
div.mainbtn input.m-btn-o {
	font-family: "ＭＳ ゴシック";
	font-size: 11pt;
	font-weight: bold;
/*	background-image: url(../images/mainbtn_bg.png); */
	background-repeat: repeat-x;
	padding: 4px 3px;
	color: #FFFFFF;
	width: 284px;
	margin-left: 5px;
	cursor: hand;
	border: 1px double #000000;
}


div.mainbtn1 {
	top: 640px;
  right:-40px;
	height: 40px;
	width: 16%;
	margin-right: 30px;
	text-align: right;
	position: absolute;
}
div.mainbtn2 {
	top: 640px;
  right:-40px;
	height: 40px;
	width: 30%;
	margin-right: 30px;
	text-align: right;
	position: absolute;
}
div.mainbtn3 {
	top: 640px;
  right:-40px;
	height: 40px;
	width: 44%;
	margin-right: 30px;
	text-align: right;
	position: absolute;
}
div.mainbtn4 {
	top: 640px;
  right:-40px;
	height: 40px;
	width: 58%;
	margin-right: 30px;
	text-align: right;
	position: absolute;
}
div.mainbtn5 {
	top: 640px;
  right:-40px;
	height: 40px;
	width: 72%;
	margin-right: 30px;
	text-align: right;
	position: absolute;
}
div.mainbtn6 {
	top: 640px;
  right:-40px;
	height: 40px;
	width: 86%;
	margin-right: 30px;
	text-align: right;
	position: absolute;
}
div.mainbtn7 {
	top: 640px;
  right:-40px;
	height: 40px;
	width: 100%;
	margin-right: 30px;
	text-align: right;
	position: absolute;
}

input.m-btn {
	font-family: "ＭＳ ゴシック";
	font-size: 11pt;
	font-weight: bold;
	padding: 4px 3px;
	width: 128px;
	margin-left: 5px;
	cursor: hand;
}

/*------------------------------------------------フッター【foot】------------------------------------------------*/

div#foot {
	background-repeat: no-repeat;
	width: 100%;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
	padding-bottom: 10px;
}

div#foot div#copyright {
	font-family: "Arial";
	font-size: 10pt;
	color: #333333;
	padding-top: 10px;
	padding-left: 10px;
	display: none;
}


/*===================================================サブメニュー画面===================================================*/
/************* 未対応 ******************/

/*------------------------------------------------メニュー中見出し【menu-caption】---------------------------------------*/

div.menu-caption {
	margin-right: 0px;
	margin-left: 30px;
	text-indent: 20px;
	background-repeat: no-repeat;
	margin-top: 15px;
	margin-bottom: 5px;
	clear: both;
	width: 90%;
}

div.menu-caption h2 {
	font-size: 90%;
	font-weight: bold;
	float: left;
}

/*------------------------------------------------段組レイアウト【menu-layout】-------------------------------------------*/

/*段組レイアウト左*/
div#menu-left {
	width: 32%;
	float: left;
}

/*段組レイアウト中央*/
div#menu-center {
	width: 33%;
	float: left;
}

/*段組レイアウト右（メニューバー）*/
div#menu-right {
	float: left;
	width: 33%;
	margin-top: 8px;
}

/*------------------------------------------------メニュー【menu】------------------------------------------------------*/
/************* 未対応 ******************/
/*メニュー枠*/
div.menu-box {
	margin-left: 30px;
	border-top-color: #00AD7D;
	border-bottom-color: #00AD7D;
	border-top-style: solid;
	border-top-width: 4px;
	border-right-color: #00AD7D;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #00AD7D;
	border-left-style: solid;
	border-left-width: 1px;
	background-color: #F3F8F8;
	margin-bottom: 20px;
}

div.menu-box ul {
	text-align: left;
	font-size: 90%;
	font-family: "ＭＳ ゴシック", "Osaka－等幅";
}

div.menu-box ul li {
	margin-bottom: 7px;
}

div.menu-box ul li a {
	text-decoration: none;
	color: #333333;
}

div.menu-box ul li a:active {
	text-decoration: none;
	color: #333333;
}

div.menu-box ul li a:visited {
	text-decoration: none;
	color: #333333;
}

div.menu-box ul li a:hover {
	text-decoration: none;
	color: #008A64;
}

/*------------------------------------------------メインメニュー【mainmenu】------------------------------------------------*/
/************* 未対応 ******************/
/*メインメニュー枠*/
div.mainmenu {
	margin-top: 7px;
}

div.mainmenu ul li {
	list-style-type: none;
	list-style-image: none;
}

/*メインメニューバー*/
div.mainmenu-normal {
	background-color: #D9E8E3;
	background-repeat: no-repeat;
	background-position: 20px;
	border-right: 1px solid #00AD7D;
	border-bottom: 1px solid #00AD7D;
	color: #333333;
	font-family: "ＭＳ ゴシック", "Osaka－等幅";
	font-weight: bold;
	line-height: 230%;
	margin-bottom: 10px;
	text-align: left;
	width: 80%;
}

/*メインメニューバー（カレント）*/
div.mainmenu-current {
	background-color: #33BD97;
	font-weight: bold;
	border-right-color: #00AD7D;
	border-bottom-color: #00AD7D;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-left: 50px;
	color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: 20px;
	font-family: "ＭＳ ゴシック", "Osaka－等幅";
	line-height: 230%;
	margin-bottom: 10px;
	width: 80%;
}

div.mainmenu ul li a {
	text-decoration: none;
	color: #333333;
	display: block;
	width: 100%;
	padding-left: 50px;
}

div.mainmenu ul li a:active {
	text-decoration: none;
	color: #333333;
}

div.mainmenu ul li a:visited {
	text-decoration: none;
	color: #333333;
}

div.mainmenu ul li a:hover {
	text-decoration: none;
	color: #008A64;
}

/*---------------------------------------------メインボタン メニュー専用【mainmenubtn】------------------------------------*/
/************* 未対応 ******************/
div.mainbtn-main {
	width: 95%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 30px;
	text-align: right;
}

div.mainbtn-main input.m-btn-main {
	font-family: "ＭＳ ゴシック";
	font-size: 11pt;
	font-weight: bold;
/*	background-image: url(../images/mainbtn_bg.png); */
	background-repeat: repeat-x;
	padding: 4px 3px;
	color: #FFFFFF;
	width: 180px;
	margin-left: 5px;
	cursor: hand;
	border: 1px double #000000;
}


/*===================================================メインメニュー画面===================================================*/
/************* 未対応 ******************/

/*メニュー枠*/
div#main {
	margin-left: 50px;
	width: 90%;
	margin-top: 30px;
	margin-bottom: 30px;
}

/*メニュー下線*/
div#main dl {
	border-bottom-color: #00553E;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	width: 100%;
	clear: both;
	margin-top: 10px;
	margin-bottom: 0px;
}

/*メニューバー*/
div#main dl dt {
	float: left;
	background-color: #D9E8E3;
	font-weight: bold;
	border-right-color: #00AD7D;
	border-bottom-color: #00AD7D;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-repeat: no-repeat;
	background-position: 20px;
	font-family: "ＭＳ ゴシック", "Osaka－等幅";
	margin-right: 10px;
}

/*メニューテキスト*/
div#main dl dd {
	font-family: "ＭＳ ゴシック", "Osaka－等幅";
	color: #333333;
	font-size: 10pt;
	margin-bottom: 5px;
	vertical-align: text-botom;
	margin-top: 9px;
}

div#main dl dt a {
	text-decoration: none;
	color: #333333;
	padding-bottom: 10.px;
	width: 250px;
	padding-left: 50px;
	display: block;
	line-height: 230%;
}

div#main dl dt a:active {
	color: #333333;
	text-decoration: none;
}

div#main dl dt a:visited {
	color: #333333;
	text-decoration: none;
}

div#main dl dt a:hover {
	color: #008A64;
	text-decoration: none;
}

/*===================================================サブウィンドウ===================================================*/
/************* 未対応 ******************/

/*------------------------------------------------ドキュメント全体【doc】------------------------------------------------*/

/*全体レイアウト*/
body#subdoc {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px; 
}

/*------------------------------------------------ヘッダ【head】------------------------------------------------*/

/*ヘッダレイアウト*/
body#subdoc div#head {
	width: 100%;
	background-repeat: repeat-x;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}

/*------------------------------------------------コンテンツタイトル【title】------------------------------------------------*/

/*コンテンツタイトルレイアウト*/
body#subdoc div#title {
	margin-left: 10px;
	width: 96%;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-top: 0px dotted;
	border-right: 0px dotted;
	border-bottom: 1px dotted;
	border-left: 0px dotted;
	padding-bottom: 4px;
}

/*コンテンツタイトル*/
body#subdoc div#title h1 {
	font-size: 100%;
	font-weight: bold;
	text-indent: 5px;
	padding: 5px;
	margin: 0px;
	border: 1px solid;
}

/*------------------------------------------------ガイダンス【guide】------------------------------------------------*/

/*ガイダンスレイアウト*/
body#subdoc div.guide {
	width: 95%;
	margin-right: 0px;
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	clear: both;
}

/*ガイダンス*/
div.guide p {
	font-size: 10pt;
	line-height: 120%;
	float: left;

}

/*------------------------------------------------エラーメッセージ【error】------------------------------------------------*/

/*エラーメッセージレイアウト*/
body#subdoc div.error {
	width: 95%;
	margin-right: 0px;
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	clear: both;
}

/*エラーメッセージ*/
body#subdoc div.error p {
	font-size: 10pt;
	line-height: 120%;
	float: left;
	color: #FF0000;
}

/*------------------------------------------------中見出し【caption】------------------------------------------------*/

body#subdoc div.caption {
	width: 95%;
	margin-right: 0px;
	margin-left: 15px;
	text-indent: 20px;
	background-repeat: no-repeat;
	margin-top: 15px;
	margin-bottom: 5px;
	clear: both;
}

body#subdoc div.caption h2 {
	font-size: 90%;
	font-weight: bold;
	float: left;
}

/*------------------------------------------------単項目テーブル【tbl】------------------------------------------------*/

body#subdoc div.tbl {
	width: 95%;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*テーブル*/
body#subdoc div.tbl table.t-tbl {
	border-collapse: collapse;
	width: 100%;
	margin-right: 0px;
	margin-left: 15px;
	border-top-width: 4px;
	border-right-width: 0px;
	border-bottom-width: 4px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #00AD7D;
	border-right-color: #00AD7D;
	border-bottom-color: #00AD7D;
	border-left-color: #00AD7D;
}

/*見出し*/
body#subdoc div.tbl th.t-cellsec {
	background-color: #E7E7E7;
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	background-repeat: repeat-y;
	padding: 3px 5px;
	width: 30%;
	border: 1px solid #999999;
	text-align: left;
	font-weight: normal;
}

/*セル*/
body#subdoc div.tbl td.t-cell {
	font-family:  "住基ネット明朝";
	font-size: 10pt;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border: 1px solid #999999;
}

/*エラー(セル)*/
body#subdoc div.tbl td.t-cell-error {
	font-family:  "住基ネット明朝";
	font-size: 10pt;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border: 1px solid #999999;
	background-color: #F2B4AA;
}
/*===================================================資格管理Gスタイルシート===================================================*/

/*---------------------------------------------------下部ボタン---------------------------------------------------------*/
div.pagebtn1_sikaku {
	top: 625px;
	left: 21px;
	height: 40px;
	width: 300px;
	margin-right: 30px;
	text-align: left;
	position: absolute;
}

div.pagebtn1_sikaku input.m-btn1_sikaku {
	font-family: "ＭＳ ゴシック";
	font-size: 11pt;
	font-weight: bold;
	/*background-image: url(../images/btn_main.png);*/
	/*background-repeat: repeat-x;*/
	padding: 4px 3px;
	width: 100px;
	margin-left: 5px;
	cursor: hand;
	color: #555555;
}

div.mainbtn1_sikaku {
	top: 625px;
	left: 313px;
	height: 40px;
	width: 690px;
	margin-right: 30px;
	text-align: right;
	position: absolute;
}

div.mainbtn1_sikaku input.m-btn1_sikaku {
	font-family: "ＭＳ ゴシック";
	font-size: 11pt;
	font-weight: bold;
	padding: 4px 3px;
	width: 100px;
	margin-left: 5px;
	cursor: hand;
	color: #555555;
}

/*---------------------------------------------------リスト---------------------------------------------------------*/
/*テーブル*/
div.tbl table.t-tbl_sikaku {
	border-collapse: collapse;
	width: 100%;
	margin-right: 0px;
	margin-left: 30px;
	margin-bottom: 10px;
	border-top-width: 4px;
	border-right-width: 0px;
	border-bottom-width: 4px;
	border-left-width: 0px;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}

.ka-tbl-01_sikaku{
	height: 383px;
	overflow-y: auto;
	scrollbar-3dlight-color: #DCA73C;
	scrollbar-arrow-color: #323278;
	scrollbar-darkshadow-color: #55372F;
	scrollbar-face-color:#FFD778;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #E8B66E;
	scrollbar-track-color: #FFF4AA;
}

.ka-tbl-02_sikaku{
	height: 325px;
	overflow-y: auto;
	scrollbar-3dlight-color: #DCA73C;
	scrollbar-arrow-color: #323278;
	scrollbar-darkshadow-color: #55372F;
	scrollbar-face-color:#FFD778;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #E8B66E;
	scrollbar-track-color: #FFF4AA;
}

.ka-tbl-03_sikaku{
	height: 400px;
	overflow-y: auto;
	scrollbar-3dlight-color: #DCA73C;
	scrollbar-arrow-color: #323278;
	scrollbar-darkshadow-color: #55372F;
	scrollbar-face-color:#FFD778;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #E8B66E;
	scrollbar-track-color: #FFF4AA;
}
/*パターン4 height:270*/
.ka-tbl-04_sikaku{
	height: 270px;
	overflow-y: auto;
	scrollbar-3dlight-color: #DCA73C;
	scrollbar-arrow-color: #323278;
	scrollbar-darkshadow-color: #55372F;
	scrollbar-face-color:#FFD778;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #E8B66E;
	scrollbar-track-color: #FFF4AA;
}



/*パターン4 height:80*/
.ka-tbl-05_sikaku{
	height: 80px;
	overflow-y: auto;
	scrollbar-3dlight-color: #DCA73C;
	scrollbar-arrow-color: #323278;
	scrollbar-darkshadow-color: #55372F;
	scrollbar-face-color:#FFD778;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #E8B66E;
	scrollbar-track-color: #FFF4AA;
}
/*パターン4 height:240*/
.ka-tbl-06_sikaku{
	height: 240px;
	overflow-y: auto;
	scrollbar-3dlight-color: #DCA73C;
	scrollbar-arrow-color: #323278;
	scrollbar-darkshadow-color: #55372F;
	scrollbar-face-color:#FFD778;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #E8B66E;
	scrollbar-track-color: #FFF4AA;
}

/*パターン７ height:280*/
div.list div.l-tbl-07_sikaku{
	height: 285px;
	overflow-y: auto;
	scrollbar-3dlight-color: #DCA73C;
	scrollbar-arrow-color: #323278;
	scrollbar-darkshadow-color: #55372F;
	scrollbar-face-color:#FFD778;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #E8B66E;
	scrollbar-track-color: #FFF4AA;	
}

/*パターン4 height:260*/
.ka-tbl-08_sikaku{
	height: 260px;
	overflow-y: auto;
	scrollbar-3dlight-color: #DCA73C;
	scrollbar-arrow-color: #323278;
	scrollbar-darkshadow-color: #55372F;
	scrollbar-face-color:#FFD778;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #E8B66E;
	scrollbar-track-color: #FFF4AA;
}

/*パターン9 height:232*/
.ka-tbl-09_sikaku{
	height: 232px;
	overflow-y: auto;
	scrollbar-3dlight-color: #DCA73C;
	scrollbar-arrow-color: #323278;
	scrollbar-darkshadow-color: #55372F;
	scrollbar-face-color:#FFD778;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #E8B66E;
	scrollbar-track-color: #FFF4AA;
}

/*パターン10 height:260*/
.ka-tbl-10_sikaku{
	height: 307px;
	overflow-y: auto;
	scrollbar-3dlight-color: #DCA73C;
	scrollbar-arrow-color: #323278;
	scrollbar-darkshadow-color: #55372F;
	scrollbar-face-color:#FFD778;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #E8B66E;
	scrollbar-track-color: #FFF4AA;
}

/*パターン11 height:356*/
.ka-tbl-11_sikaku{
	height: 356px;
	overflow-y: auto;
	scrollbar-3dlight-color: #DCA73C;
	scrollbar-arrow-color: #323278;
	scrollbar-darkshadow-color: #55372F;
	scrollbar-face-color:#FFD778;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #E8B66E;
	scrollbar-track-color: #FFF4AA;
}

/*パターン12 height:430*/
.ka-tbl-12_sikaku{
	height: 430px;
	overflow-y: auto;
	scrollbar-3dlight-color: #DCA73C;
	scrollbar-arrow-color: #323278;
	scrollbar-darkshadow-color: #55372F;
	scrollbar-face-color:#FFD778;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #E8B66E;
	scrollbar-track-color: #FFF4AA;
}


/*パターン9 height:200*/
div.list div.ka-tbl-13_sikaku{
	height: 180px;
	overflow-y: auto;
	scrollbar-3dlight-color: #DCA73C;
	scrollbar-arrow-color: #323278;
	scrollbar-darkshadow-color: #55372F;
	scrollbar-face-color:#FFD778;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #E8B66E;
	scrollbar-track-color: #FFF4AA;
}

/*奇数行*/
div.list tr.l-cellodd_sikaku {
	font-family: "住基ネット明朝";
	font-size: 10pt;

	text-align: left;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #FFFFFF;
	background-color: #EBEBEB;
}

/*偶数行*/
div.list tr.l-celleven_sikaku {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: left;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
}

div.list th.l-cellsec_sikaku {
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 3px;
	border: 1px solid #FFFFFF;
	background-color: #9BB560;
	background-repeat: repeat-x;
}



/*奇数行*/
div.list td.l-cellodd_sikaku {
	font-family: "住基ネット明朝";
	font-size: 10pt;

	text-align: left;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 3px;
	border: 1px solid #FFFFFF;
	background-color: #EBEBEB;
}

/*偶数行*/
div.list td.l-celleven_sikaku {
	font-family: "住基ネット明朝";
	font-size: 10pt;
	text-align: left;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 3px;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
}

/*見出し*/
div.tbl th.t-cellsec_sikaku {
	background-color: #D4E78E;
	font-family: "ＭＳ ゴシック";
	font-size: 10pt;
	background-repeat: repeat-y;
	padding: 3px 5px;
	border: 1px solid #FFFFFF;
	text-align: left;
	font-weight: normal;
}

div.tbl td.goto_sikaku {
	text-align: right;
	width: 100%;
	margin-right: 0px;	
	margin-left: 30px;
	margin-top: 4px;
	font-size: 10pt;
}

/*---------------------------------------------------各タイトル---------------------------------------------------------*/
div#title_sikaku {

	text-indent: 5px;
	text-align: center;
	padding: 0px;
	margin: 0px;
	border: 0px;
}
div#title_sikaku h1 {
	font-size: 12pt;
	font-weight: bold;
	text-indent: 5px;
	text-align: center;
	padding: 0px;
	margin: 0px;
	border: 0px;
}
div#title_sikaku h2 {
	font-size: 11pt;
	font-weight: bold;
	text-indent: 5px;
	text-align: center;
	padding: 0px;
	margin: 0px;
	border: 0px;
}




/* 入力不可Inputタグ(文字)  -----------------------------------------------------------------*/
.OutputTextString01 {
	color: #000000;
	background-color: #DEDEDE;
}

.Select-disabled{
    zmn:expression(disabled=true);
    color: #FFFFFF;
    background-color: #DEDEDE;
    margin: 0px 0px 0px 0px;
    border: 1px solid #6C8295;
    color: #000000;
}

.Check-disabled{
    zmn:expression(disabled=true);
    color: #FFFFFF;
    background-color: #DEDEDE;
    margin: 0px 0px 0px 0px;
    border: 1px solid #6C8295;
    color: #000000;
}


.ERROR_TEXT_CHAR{
	background-color: RED;
}


/*保険者番号*/
div.hknBng {
	font-family: "住基ネット明朝";
	font-size: 11pt;
	font-weight: bold;
	top: 65px;
	left: 730px;
	text-align: left;
	position: absolute;
}

/*対象件数*/
div.count {
    right: 30px;
    position: absolute;
}


/*------------------------------------------------パスワード変更画面【passwordtbl】------------------------------------------------*/


div.passwordtbl {
    width: 55%;
    margin-top: 80px;
    margin-bottom: 5px;
}

/*テーブル*/
div.passwordtbl table.t-tbl {
    border-collapse: collapse;
    width: 100%;
    margin-right: 0px;  
    margin-left: 225px; 
    border-top-width: 4px;
    border-right-width: 0px;
    border-bottom-width: 4px;
    border-left-width: 0px;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-left-color: #FFFFFF;
}

/*見出し*/
div.passwordtbl th.t-cellsec {
    background-color: #D4E78E;
    font-family: "ＭＳ ゴシック";
    font-size: 10pt;
    background-repeat: repeat-y;
    padding: 3px 5px;
    width: 20%;
    border: 1px solid #FFFFFF;
    text-align: left;
    font-weight: normal;
}

/*追加見出し*/
div.passwordtbl th.t-cellsec-sub {
    background-color: #E7E7E7;
    font-family: "ＭＳ ゴシック";
    font-size: 10pt;
    background-repeat: repeat-y;
    padding: 3px 5px;
    width: 10%;
    border: 1px solid #FFFFFF;
    text-align: left;
    font-weight: normal;
}

/*上部見出し*/
div.passwordtbl th.t-cellsec-col {
    font-family: "ＭＳ ゴシック";
    font-size: 10pt;
    font-weight: bold;
    text-align: left;
    color: #FFFFFF;
    padding-top: 3px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-left: 6px;
    border: 1px solid #FFFFFF;
    background-color: #9BB560;
    background-repeat: repeat-x;

}

/*セル（奇数行）*/
div.passwordtbl td.t-cell-odd {
    font-family: "ＭＳ ゴシック";
    font-size: 10pt;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    border: 1px solid #FFFFFF;
    background-color: #EBEBEB;
}
/*セル（偶数行）*/
div.passwordtbl td.t-cell-even {
    font-family: "ＭＳ ゴシック";
    font-size: 10pt;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

/*エラー(セル)*/
div.passwordtbl td.t-cell-error {
    font-family: "ＭＳ ゴシック";
    font-size: 10pt;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    border: 1px solid #FFFFFF;
    background-color: #F2B4AA;
}

/*メッセージ*/
div.passwordtbl th.t-message {
    background-color: #D4E78E;
    font-family: "ＭＳ ゴシック";
    font-size: 10pt;
    background-repeat: repeat-y;
    padding: 3px 5px;
    width: 20%;
    border: 1px solid #FFFFFF;
    text-align: center;
    font-weight: normal;
}

/*メッセージ*/
div.logintbl td.t-message {
    background-color: #D4E78E;
    font-family: "ＭＳ ゴシック";
    font-size: 10pt;
    background-repeat: repeat-y;
    padding: 3px 5px;
    height: 155px;
    border: 1px solid #FFFFFF;
    text-align: center;
    font-weight: normal;
}

/*------------------------------------------------パスワード変更ボタン【passwordbtn】------------------------------------------------*/

div.passwordbtn {
    top: 380px;
    left: 11px;
    height: 40px;
    width: 100%;
    margin-right: 30px;
    text-align: center;
    position: absolute;
}

div.passwordbtn input.m-btn {
    font-family: "ＭＳ ゴシック";
    font-size: 11pt;
    font-weight: bold;
    background-repeat: repeat-x;
    padding: 4px 3px;
    width: 128px;
    margin-left: 5px;
    cursor: hand;
    color: #555555;
}



/*------------------------------------------------height無しのoptimizetbl-------------------------------------------*/
div.optimizetbl {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;  /* add 2007.02.21 IE7対応で追加 */
}

div.optimizetbl div.t-tbl {         /* add 2007.02.21 説明書とオンラインにはなかった */
    height: 400px;     /* add 2007.02.21 説明書とオンラインにはなかった */
    overflow-y: auto;  /* add 2007.02.21 説明書とオンラインにはなかった */
}                          /* add 2007.02.21 説明書とオンラインにはなかった */

/*テーブル*/
div.optimizetbl table.t-tbl {
    border-collapse: collapse;
    width: 98%;        /* replace 2007.02.21 IE7対応で修正 100%→98% */
    margin-right: 0px;
    margin-left: 0px;  /* replace 2007.02.21 IE7対応で修正 30px→0px */
    border-top-width: 4px;
    border-right-width: 0px;
    border-bottom-width: 4px;
    border-left-width: 0px;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-left-color: #FFFFFF;
}

/*見出し*/
div.optimizetbl th.t-cellsec {
/* 菊田追記　元

    background-color: #D4E78E;
*/
/* 菊田修正 */
    background-color: #C4E78E;
/* 菊田修正　ここまで */
    font-family: "ＭＳ ゴシック";
    font-size: 10pt;
    background-repeat: repeat-y;
    padding: 3px 5px;
    width: 20%;
    border: 1px solid #FFFFFF;
    text-align: left;
    font-weight: normal;
}

/*追加見出し*/
div.optimizetbl th.t-cellsec-sub {
    background-color: #E7E7E7;
    font-family: "ＭＳ ゴシック";
    font-size: 10pt;
    background-repeat: repeat-y;
    padding: 3px 5px;
    width: 10%;
    border: 1px solid #FFFFFF;
    text-align: left;
    font-weight: normal;
}

/*上部見出し*/
div.optimizetbl th.t-cellsec-col {
    font-family: "ＭＳ ゴシック";
    font-size: 10pt;
    font-weight: bold;
    text-align: left;
    color: #FFFFFF;
    padding-top: 3px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-left: 6px;
    border: 1px solid #FFFFFF;
/* 菊田追記　元

    background-color: #9BB560;
*/
/* 菊田修正 */
    background-color: #5A9A4F;
/* 菊田修正　ここまで */
    background-repeat: repeat-x;

}

/*セル（奇数行）*/
div.optimizetbl td.t-cell-odd {
    font-family: "ＭＳ ゴシック";
    font-size: 10pt;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    border: 1px solid #FFFFFF;
    background-color: #EBEBEB;
}

/*セル（偶数行）*/
div.optimizetbl td.t-cell-even {
    font-family: "ＭＳ ゴシック";
    font-size: 10pt;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

/*エラー(セル)*/
div.optimizetbl td.t-cell-error {
    font-family: "ＭＳ ゴシック";
    font-size: 10pt;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    border: 1px solid #FFFFFF;
    background-color: #F2B4AA;
}

/*[非推奨]幅固定セル*/
div.optimizetbl td.t-cell-s {
    font-family: "ＭＳ ゴシック";
    font-size: 10pt;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    border: 1px solid #FFFFFF;
    width: 8%;
}

/*[非推奨]先頭戻り*/
div.optimizetbl div.goto {
    text-align: right;
    width: 100%;
    margin-right: 0px;
    margin-left: 30px;
    margin-top: 4px;
    font-size: 10pt;
}


/*------------------------------------------------メインボタン【mainbtn-02】------------------------------------------------*/

div.mainbtn-02 {
    top: 610px;
    left: 11px;
    height: 40px;
    width: 100%;
    margin-right: 30px;
    text-align: right;
    position: absolute;
}

/*div.mainbtn-02 input.m-btn { */
/*  font-family: "ＭＳ ゴシック"; */
/*  font-size: 11pt; */
/*  font-weight: bold; */
/*  background-image: url(../images/btn_main.png); */
/*  background-repeat: repeat-x; */
/*  padding: 4px 3px; */
/*  width: 128px; */
/*  margin-left: 5px; */
/*  cursor: hand; */
/*  color: #555555; */
/*} */

/*div.mainbtn-02 m-btnの（改善案）*/
div.mainbtn-02 input.m-btn {
    font-family: "ＭＳ ゴシック";
    font-size: 11pt;
    font-weight: bold;
/*  background-image: url(../images/btn_main.png); */
/*  background-repeat: repeat-x; */
    padding: 4px 3px;
    width: 128px;
    margin-left: 5px;
    cursor: hand;
/*  color: #4C4C4C;*/
}

